<template>
           <div>
               <v-card>
                    <v-img src="http://source.unsplash.com/hjCA3ecCXAQ" height="400px">
                        <v-container fill-height fluid>
                            <v-layout fill-height>
                                <v-flex xs12 align-end flexbox>
                                    <span class="headline white--text">KETO</span>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-img>

                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">{{ showProduct.name }}</h3>
                            <div>{{ showProduct.Description }}
                            </div>
                        </div>
                    </v-card-title>
                </v-card>
        </div>
</template>
<script>
export default {
  name: "ShowProduct",
  props: {
    // type any object ;)
    showProduct: {}
  },
}

</script>
