<template>
  <v-container fluid fill-height class="back-panel" grid-list-xl d-flex>
    <v-layout row wrap>
     <v-flex xs11 my-5 style="margin: 0 auto;">
      <v-layout row wrap align-center>
            <v-flex v-for="product in products" :key="product.ID" xs3 md4 my-5>
                <product-card :showProduct=product></product-card>
            </v-flex>
      </v-layout>
     </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {APIService} from '@/services/api/ApiService';

const apiService = new APIService();
export default {
  name: 'ProductsList',

  data() {
    console.log("hello")
    return {
       products: [],
       numberOfProducts:0
    };
  },

  created(){
    console.log("getapi")
    apiService.getProducts().then((data) => {
        console.log(data)
        this.products = data;
        //this.numberOfProducts = data.count;
    });
   }
}
</script>

<style scoped>
.back-panel {
  background: url('../assets/background.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

</style>